<div ng-controller="fundController" class="funds row">
    <h2>Investiment Funds</h2>
    <div class="row">
        <div ng-repeat="fund in funds" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{fund.name}}</h3>
            </div>
            <div class="panel-body">
                {{fund.moneyamount}}
            </div>
        </div>

    </div>

    <div ng-controller="investmentController">
        <h3>Last Investiments</h3>
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Fund</th>
                    <th>Client</th>
                    <th>Money Amount</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="investment in investments">
                        <td>{{investment.id}}</td>
                        <th>{{investment.fund_name}}</th>
                        <th>{{investment.client_name}}</th>
                        <th>{{investment.moneyamount}}</th>
                        <th>{{investment.date}}</th>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>

<div class="row">


</div>
